<form class="form" (ngSubmit)="onUpdatePassword()" #passwordForm="ngForm">
  <h1 class="h3 mb-3 font-weight-normal">Update password</h1>

  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password"
         class="form-control"
         required
         minlength="6"
         placeholder="new password"
         [(ngModel)]="model.password"
         #password="ngModel">

  <label for="confirmpassword" class="sr-only">Confirm password</label>
  <input type="password" id="confirmpassword" name="confirmpassword"
         class="form-control"
         required
         minlength="6"
         placeholder="confirm new password"
         [(ngModel)]="model.confirmpassword"
         #confirmpassword="ngModel">

  <button type="submit" [disabled]="passwordForm.invalid || (model.confirmpassword !== model.password)"
          class="btn btn-lg btn-primary btn-block">
    Update password
  </button>
</form>
